html {
  font-family: 'Source Sans Pro', Verdana, Arial, Helvetica, sans-serif;
}
#output {
  color: green;
}

#error {
  color: red;
}

.commentheader {
  color: rgb(90, 15, 38);
}
#output2{
  font-size: 1.4em;
  padding-bottom: 1.8em;
}

#btnRandom{
  margin-top: 1em;
}

hr{
  width: 11em;
}

.jumbotron{
  background-color: #fff;
}

#btnArray{
  margin-top: 0.2em;
}