#info {
    padding: 3em;
    margin: 3em;
}


#change {
    margin-top: 0.7em;
    margin-bottom: 2em;
    margin-left: 3%;
    width: 30%;
    height: 2.4em;
    border-radius: 1em;
    border-style: solid;
}

.show {
    margin-top: 0.7em;
    margin-bottom: 2em;
    width: 52%;
    height: 2.2em;
    border-radius: 1em;
    border-style: solid;
}

.divTwoCol{
    padding-right: 2em;
    width: 50%;
}